<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
    </head>
    <body>
        <table ng-controller="MultiplicationCtrl">
            <tr ng-repeat="numberA in numbers">
                <td ng-repeat="numberB in numbers">
                    {{ numberA * numberB }}
                </td>
            </tr>
        </table>
    
    </body>
</html>